body{
    margin:0px;
    text-align:center;
    font-family: 'Merriweather', serif;
}
.me{
    margin-top: 60px;
    height:20%;
    width:20%;
}
.me2{
    height:40%;
    width:30%;
    float: left;
    margin-right: 40px;
}
.me3{
    height:30%;
    width:30%;
    float: right;
    margin-right:10px;
}
.circular{
    border-radius: 50%;
}
.bottom-container{
   background-color: #66BFBF;
   padding:30px 0 20px;
}
h1{
    color:#0057E7;
    font-size: 5.625rem;
    margin-top: 50px auto 0px auto;
    font-family: 'Dancing Script', cursive;
}
.btn{
    color:red;
}
.footer-link{
    color:#11999E;
    font-family: 'Merriweather', serif;
    margin:30px 20px;
    text-decoration: none;
}
.footer-link:hover{
    color: #EAF6F6;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:20px 0px;
}
h2{
    color:#11999E;
    font-size: 3.5em;
    font-family: 'Dancing Script', cursive;
}
h3{
    font-weight: normal;
    color:#0881A3;
    font-size: 2em;
    font-family: 'PT Serif', serif;
}
hr{
    border: dotted #40514E 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
.colour{
    background-color:#B2F7EF;
}
p{
    font-size: 1.5em;
}
div{
    background-color:#C8FDE2;
}
.contact-message{
  width:40%;
  margin:40px auto 40px auto;
}
.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.top-cloud{
    padding-top: 20px;
    margin-left: 300px;
    margin-bottom: 50px;
}
.bottom-cloud{
    position: absolute;
    margin-right:300px;
    margin-top: 50px;
   }

   .btn{
       box-shadow: 0px -2px 2px 2px #9fb4f2;
       background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
       background-color:#7892c2;
       border-radius:8px;
       border:1px solid #4e6096;
       display:inline-block;
       cursor:pointer;
       color:#ffffff;
       font-family:Arial;
       font-size:17px;
       padding:9px 28px;
       text-decoration:none;
       text-shadow:0px 0px 8px #283966;
   }
   .btn:hover {
       background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
       background-color:#476e9e;
   }
   .btn:active {
       position:relative;
       top:1px;
      
   }
   
           

   